extends ../layouts/default

block content
	.container: .x
		.jumbotron.col-md-9
			img(src='/images/logo.svg', width='160')
			h1 Welcome
			p This is my new website
			hr
			p Remember to <a href='https://github.com/JedWatson/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
				| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		.col-md-3
			a.twitter-timeline(href='https://twitter.com/jonahback', data-widget-id='453968672881516544') Tweets by @jonahback
			script.
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
